@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.main-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 48px auto;
}

.body {
  width: 1100px;
  height: 100%;
  justify-self: center;
  padding: 20px 0;
  margin: 0 20px;
  color: #222222;
}

.table {
  display: grid;
  grid-template-rows: auto auto;
  padding: 20px 0;
}

.table-footer,
.table-row {
  display: grid;
  grid-template-columns: 52px auto 52px;
}

.table-footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-footer-status-container,
.table-footer-text-container,
.table-footer-delete-container,
.table-row-status-container,
.table-row-text-container,
.table-row-delete-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 52px;
}

.table-footer-status-chb {
  transform: scale(1.5);
}

.table-row-status-chb {
  transform: scale(1.5);
  cursor: pointer;
}

.table-footer-text-container {
  justify-content: start;
  padding-left: 20px;
  font-weight: 600;
}

.table-row-text-container {
  justify-content: start;
  cursor: pointer;
  line-height: 1.56;
  padding: 14px 20px;
}

.table-footer-delete-img,
.table-row-delete-img {
  width: 20px;
}

.table-footer-delete-img {
  opacity: 50%;
}

.table-row-delete-img {
  cursor: pointer;
}

.table-row-text-container:hover {
  background: #f5f5f6;
}

.table-row-delete-img:hover {
  filter: brightness(120%);
}

.table-row {
  border-top: 1px solid #d5dddf;
}

.add-change-task-container {
  width: 100%;
}

.display-form-btn-container {
  display: grid;
  justify-content: end;
}

.btn-unhide-form {
  width: 200px;
  padding: 12px;
  border: 0;
  border-radius: 5px;
  //background: #ffdd2d;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background: #efefef;
}

.btn-unhide-form:hover {
  //background: #ffcd33;
  background: #e1e1e1;
}
.input-form-container {
  display: grid;
  grid-template-columns: auto 170px 150px;
  grid-template-rows: auto auto;
}

.input-form {
  grid-column: 1 / 4;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #d5dddf;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
}

.btn-cancel,
.btn-change {
  width: 150px;
  padding: 12px;
  border: 0;
  border-radius: 5px;
  //background: #ffdd2d;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background: #efefef;
}

.btn-cancel {
  grid-column: 2 / 3;
}

.btn-cancel:hover {
  background: #e1e1e1;
}

.btn-change {
  grid-column: 3 / 4;
  background: #ffdd2d;
}

.btn-change:enabled:hover {
  background: #ffcd33;
}

.btn-change:disabled,
.btn-change:disabled:hover {
  cursor: initial;
  opacity: 50%;
}
