@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.main-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 48px auto;
}

.body {
  width: 1100px;
  height: 100%;
  justify-self: center;
  padding: 20px 0;
  margin: 0 20px;
  color: #222222;
}

.table {
  display: grid;
  grid-template-rows: auto auto;
  padding: 20px;
}

.table-footer,
.table-row {
  display: grid;
  grid-template-columns: 50px auto 50px;
}

.table-footer {
  background: #fafafa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-footer-status-container,
.table-footer-text-container,
.table-footer-delete-container,
.table-row-status-container,
.table-row-text-container,
.table-row-delete-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 50px;
}

.table-footer-status-chb {
  transform: scale(1.5);
}

.table-row-status-chb {
  transform: scale(1.5);
  cursor: pointer;
}

.table-footer-text-container,
.table-row-text-container {
  justify-content: start;
  padding-left: 20px;
  font-weight: 600;
}

.table-row-text-container {
  cursor: pointer;
}

.table-row-text-container {
  font-weight: 400;
}

.table-footer-delete-img,
.table-row-delete-img {
  width: 20px;
}

.table-footer-delete-img {
  opacity: 50%;
}

.table-row-delete-img {
  cursor: pointer;
}

.table-row-text-container:hover {
  font-weight: 600;
}

.table-row-delete-img:hover {
  filter: brightness(120%);
}

.table-row {
  border-top: 1px solid #d5dddf;
}

.add-task-btn-container {
  width: 100%;
  padding: 0 20px;
}

.add-task-btn {
  width: 300px;
  margin-top: 10px;
  padding: 12px;
  border: 0;
  border-radius: 5px;
  background: #ffdd2d;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.add-task-btn:hover {
  background: #ffcd33;
}
