.container-xxl {
  padding: 0 24px;
}

.status,
.delete {
  width: 48px;
}

.form-check-input {
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none;
}

tbody .text {
  cursor: pointer;
}

tr {
  height: 48px;
}

td img {
  width: 18px;
  cursor: pointer;
}

td img:hover {
  filter: brightness(120%);
}

.btn-primary {
  background: #ffdd2d;
  border-color: #ffdd2d;
  color: #3e3e3e;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #ffcd33;
}

.btn-secondary {
  background: #efefef;
  border-color: #efefef;
  color: #3e3e3e;
  font-weight: 600;
  margin-right: 0.6rem;
}

.btn-secondary:hover {
  background-color: #dbdbdb;
}

.form-control {
  height: 48px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.input-form {
  padding-bottom: 10px;
}
