<div class="main-page">
  <nav class="navbar">
    <app-navigation-bar></app-navigation-bar>
  </nav>
  <div class="body">
    <div class="table">
      <div class="table-footer">
        <div class="table-footer-status-container">
          <label>
            <input
              class="table-footer-status-chb"
              type="checkbox"
              [disabled]="true"
            />
          </label>
        </div>
        <div class="table-footer-text-container">Текст</div>
        <div class="table-footer-delete-container"></div>
      </div>
      <div class="table-row" *ngFor="let task of todoList; index as i">
        <div class="table-row-status-container">
          <label>
            <input
              class="table-row-status-chb"
              type="checkbox"
              [checked]="task.isDone"
              (click)="changeIsDoneTask(i)"
            />
          </label>
        </div>
        <div
          class="table-row-text-container"
          (click)="displayInputTaskContainer('change', i)"
        >
          {{ task.text }}
        </div>
        <div class="table-row-delete-container">
          <img
            class="table-row-delete-img"
            src="https://www.flaticon.com/svg/static/icons/svg/1828/1828843.svg"
            alt="Удалить"
            (click)="deleteTask(i)"
          />
        </div>
      </div>
    </div>
    <div class="add-change-task-container">
      <div class="display-form-btn-container">
        <button
          class="btn-unhide-form"
          (click)="displayInputTaskContainer('add')"
          *ngIf="!isUnhideAddChangeTaskContainer"
        >
          Добавить задачу
        </button>
      </div>
      <div class="input-form-container" *ngIf="isUnhideAddChangeTaskContainer">
        <form class="input-form" [formGroup]="addChangeTaskGroup">
          <label>
            <input
              class="input"
              type="text"
              placeholder="Текст задачи"
              formControlName="taskText"
              (keyup.enter)="addChangeTextTask()"
            />
          </label>
        </form>
        <button class="btn-cancel" (click)="cancelAddChangeTask()">
          Отмена
        </button>
        <button
          class="btn-change"
          (click)="addChangeTextTask()"
          [disabled]="!addChangeTaskGroup.valid"
        >
          {{ btnInputName }}
        </button>
      </div>
    </div>
  </div>
</div>
