<div class="navigation-bar">
  <div class="nav-username"></div>
  <div class="nav-img-container">
    <img
      class="nav-img"
      src="https://raw.githubusercontent.com/b4lesh/grse-academy/master/src/app/navigation-bar/images/nav-home.png"
      alt="Home"
      routerLink=""
    />
  </div>
  <div class="nav-text-container">
    <a class="nav-text" routerLink="">Главная</a>
  </div>

  <div class="nav-img-container">
    <img
      class="nav-img"
      src="https://raw.githubusercontent.com/b4lesh/grse-academy/master/src/app/navigation-bar/images/nav-clipboard.png"
      alt="Clipboard"
      routerLink="/todo-list"
    />
  </div>
  <div class="nav-text-container">
    <a class="nav-text" routerLink="/todo-list">Список дел</a>
  </div>
</div>
