@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.navbar-container {
  display: grid;
  height: 48px;
  background: #f5f5f6;
  border-bottom: 1px solid #d5dddf;
}

.navbar-main {
  width: 1100px;
  margin: 0 20px;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
}

.navbar-left {
  justify-self: start;
  align-self: center;
}

.navbar-right {
  justify-self: end;
  align-self: center;
}

.navbar-link {
  margin-right: 0.6rem;
  font-size: 16px;
  font-weight: 600;
  color: #909090;
  text-decoration: none;
}

.navbar-link-active {
  color: #464646;
}

.navbar-link:hover {
  color: #464646;
}

.navbar-btn-login,
.navbar-btn-register,
.navbar-btn-logout {
  margin-left: 0.6rem;
  padding: 5px 10px;
  color: #3e3e3e;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.navbar-btn-register {
  background: #ffdd2d;
}

.navbar-btn-login:hover,
.navbar-btn-register:hover,
.navbar-btn-logout:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
