<nav class="navbar-container">
  <div class="navbar-main">
    <div class="navbar-left">
      <a
        class="navbar-link"
        routerLinkActive="navbar-link-active"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Главная
      </a>
      <a
        class="navbar-link"
        routerLinkActive="navbar-link-active"
        routerLink="/todo-list"
      >
        Список задач
      </a>
    </div>
    <div class="navbar-right">
      <button *ngIf="!status" class="navbar-btn-login" routerLink="/login">
        Войти
      </button>
      <button
        *ngIf="!status"
        class="navbar-btn-register"
        routerLink="/registration"
      >
        Регистрация
      </button>
      <button *ngIf="status" class="navbar-btn-logout" (click)="logout()">
        Выйти
      </button>
    </div>
  </div>
</nav>
