<app-navigation-bar></app-navigation-bar>
<div class="main">
  <div class="login-form" [formGroup]="loginForm">
    <h1>Вход</h1>
    <div class="input-label">Логин</div>
    <label>
      <input class="input-form" type="text" formControlName="username" />
    </label>
    <div class="input-label">Пароль</div>
    <label>
      <input
        class="input-form"
        type="password"
        formControlName="password"
        (keyup.enter)="login()"
      />
    </label>
    <p class="login-error-text" *ngIf="loginErrorStatus">
      Логин или пароль неверный
    </p>
    <button class="btn" (click)="login()" [disabled]="!loginForm.valid">
      Войти
    </button>
  </div>
</div>
