<div class="main-page">
  <div class="navbar">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="body">
    <form class="login-form" [formGroup]="loginForm">
      <h1>Вход</h1>
      <label>
        <input
          class="input-form"
          type="text"
          placeholder="Логин"
          formControlName="username"
        />
      </label>
      <label>
        <input
          class="input-form"
          type="password"
          placeholder="Пароль"
          formControlName="password"
          (keyup.enter)="login()"
        />
      </label>
      <button class="btn" (click)="login()" [disabled]="!loginForm.valid">
        Войти
      </button>
      <p class="login-error-text" *ngIf="loginErrorStatus">
        Логин или пароль неверный
      </p>
    </form>
  </div>
</div>
